.land {
  animation: landing 16s infinite; 
  background-image: url("/src/assets/images/contactus.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  height: 100vh;
}


@keyframes land {
  0%, 100% {
    background-position: center; 
  }
  50% {
    background-position: center 10px; 
  }
}
