:root {
  --white: #ffff;
  --main-color: #c9ab81;
  --stroke: #c9ab81;
  --nav-links-font: "EB Garamond";
  --nav-links-color: #383838;
  --logo: url("src/assets/images/logo-dark.png");
  /* --transition: 0.3s ease;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
}
