.landing {
    animation: landing 16s;
    animation-iteration-count: infinite;
  }
  
  @keyframes landing {
    0% {
      background-image: url("https://i1.adis.ws/i/canon/pro-printing-fine-art-paper-1_f67a0b6adcaf44a8b056dfae19b75dcf?$media-collection-full-dt$");
    }
    33% {
      background-image: url("https://i1.adis.ws/i/canon/pro-printing-fine-art-paper-2_1eab090c539d4cdcb83d989ed3e8f01a?$media-collection-full-dt$");
    }
    66% {
      background-image: url("https://cms.nationalmuseumsni.org/sites/default/files/styles/responsive/public/1095/616/0/2022-12/Renaissance%201095x616.jpg");
    }
  
    100% {
      background-image: url("https://i1.adis.ws/i/canon/pro-printing-fine-art-paper-1_f67a0b6adcaf44a8b056dfae19b75dcf?$media-collection-full-dt$");
    }
  }